<li class='list-card-basket' id='{{id}}'>
  <img
    width='120'
    height='100'
    src='{{image}}'
    alt='{{name}}'
    class='image-product-basket'
  />
  <h2 class='name-product-basket'>{{name}}</h2>
  <div class='product-line'>
    <span class='unit'>1 кг</span>
    <span class='unit price-basket'>{{price}}грн</span>

    <div class='button-progress'>
      <button class='minus'>-</button>
      <span class='quantity'>{{quantity}} кг</span>
      <span class='plus'>+</span>

    </div>

    <span class='unit sum-basket'>{{total}} грн</span>

    <button class='remove-cart'></button>
  </div>

</li>